<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Buch__Auf11/src/auf_11_6a/RateMal.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="auf_11_6a.RateMal"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Buch__Auf11"/>
</launchConfiguration>
